body {
    background: white url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav, h1, h2, h3{
    font-family: Oldenburg;
}

.mh1 div {
    height: 2.5em;
}

.mh2 div {
    height: 2.5em;
}

.colorLink {
    color: black;
}

.colorLink:hover {
    color: grey;
}

#alert {
    position: fixed;
    bottom: 5em;
    right: 10px;
    width: 300px;
}

.ship, .ship_animate{
    height: 35vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 1;
}

.ship{
    -webkit-animation: park_boat  0.5s linear;
    animation: park_boat  0.5s linear;
}

@keyframes park_boat{
    from{
        left: -24vw;
    }
    to{
        left: 0vw;
    }
}

.ship_animate {
    left: -24vw;
    -webkit-animation: boatMove  16s linear infinite;
    animation: boatMove  16s linear infinite;
}

@keyframes boatMove {
    from {
        transform: translateX(0vw);
        opacity: 0;
    }
    5% {
        opacity: 1;
        transform: translateX(10vw);
    }
    45%{
        opacity: 1;
    }
    49%{
        transform: translateX(109vw);
        opacity: 0;
    }
    50%{
        transform: translateX(110vw) scaleX(-1);
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    95% {
        opacity: 1;
        transform: translateX(10vw) scaleX(-1);
    }
    to {
        transform: translateX(0vw) scaleX(-1);
        opacity: 0;
    }
}

@-webkit-keyframes boatMove {
    from {
        transform: translateX(0vw);
        opacity: 0;
    }
    5% {
        opacity: 1;
        transform: translateX(10vw);
    }
    45%{
        opacity: 1;
    }
    49%{
        transform: translateX(99vw);
        opacity: 0;
    }
    50%{
        transform: translateX(99vw) scaleX(-1);
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    95% {
        opacity: 1;
        transform: translateX(10vw) scaleX(-1);
    }
    to {
        transform: translateX(0vw) scaleX(-1);
        opacity: 0;
    }
}

@-o-keyframes boatMove {
    from {
        transform: translateX(0vw);
        opacity: 0;
    }
    5% {
        opacity: 1;
        transform: translateX(10vw);
    }
    45%{
        opacity: 1;
    }
    49%{
        transform: translateX(99vw);
        opacity: 0;
    }
    50%{
        transform: translateX(99vw) scaleX(-1);
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    95% {
        opacity: 1;
        transform: translateX(10vw) scaleX(-1);
    }
    to {
        transform: translateX(0vw) scaleX(-1);
        opacity: 0;
    }
}

@-moz-keyframes boatMove {
    from {
        transform: translateX(0vw);
        opacity: 0;
    }
    5% {
        opacity: 1;
        transform: translateX(10vw);
    }
    45%{
        opacity: 1;
    }
    49%{
        transform: translateX(99vw);
        opacity: 0;
    }
    50%{
        transform: translateX(99vw) scaleX(-1);
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    95% {
        opacity: 1;
        transform: translateX(10vw) scaleX(-1);
    }
    to {
        transform: translateX(0vw) scaleX(-1);
        opacity: 0;
    }
}

@-ms-keyframes boatMove {
    from {
        transform: translateX(0vw);
        opacity: 0;
    }
    5% {
        opacity: 1;
        transform: translateX(10vw);
    }
    45%{
        opacity: 1;
    }
    49%{
        transform: translateX(99vw);
        opacity: 0;
    }
    50%{
        transform: translateX(99vw) scaleX(-1);
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    95% {
        opacity: 1;
        transform: translateX(10vw) scaleX(-1);
    }
    to {
        transform: translateX(0vw) scaleX(-1);
        opacity: 0;
    }
}

.card-profile {
    width: 340px;
    margin: 50px auto;
    background-color: #e6e5e1;
    border-radius: 0;
    border: 0;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}
.card-profile .card-img-top {
    border-radius: 0;
}
.card-profile .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 35px;
    border: 5px solid #e6e5e1;
}
.card-profile .card-title {
    margin-bottom: 50px;
}
.card-profile .card-title small {
    display: block;
    font-size: .6em;
    margin-top: .2em;
}
.card-profile .card-links {
    margin-bottom: 25px;
}
.card-profile .card-links .fa {
    margin: 0 1em;
    font-size: 1.6em;
    width: 100%;
    text-align: center;
}
.card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover {
    text-decoration: none;
}
.card-profile .card-links .fa.fa-dribbble {
    color: #ea4b89;
    font-weight: bold;
}
.card-profile .card-links .fa.fa-dribbble:hover {
    color: #e51d6b;
}
.card-profile .card-links .fa.fa-twitter {
    color: #68aade;
}
.card-profile .card-links .fa.fa-twitter:hover {
    color: #3e92d5;
}
.card-profile .card-links .fa.fa-facebook {
    color: #3b5999;
}
.card-profile .card-links .fa.fa-facebook:hover {
    color: #2d4474;
}
