{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <h2 class="h2">About</h2>
    <p>This is a little game about piracy.</p>
    <p>Authors: Sylvain Renaud, Maël Pedretti, Thibaut Piquerez</p>
    <h2 class="h2">How to play</h2>
    <h5 class="h5">Getting started</h5>
    <p>First, create an account.</p>
    <p>
        Then you can start a game. You have some resources to your disposition.
        With your wood you can buy your first pirate ship! Give it name and build it.
    </p>
    <h5 class="h5">Quests</h5>
    <p></p>

{% endblock %}