<!DOCTYPE html>
<html lang="en">
<head>
    {# Load the tag library #}
    {% load bootstrap4 %}
    {% load static %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oldenburg" rel="stylesheet">
    <title>
        {% block title %}
        PirateWar
        {% endblock %}
    </title>
</head>
<body onload="$(function () {$('[data-toggle=\'tooltip\']').tooltip()})">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5" style="font-family: Oldenburg;">
        <div class="container">
            <a class="navbar-brand text-danger" href="{% url 'home' %}">
                <h1>Pirate War</h1>
            </a>
            {% if user.is_authenticated %}
            <h2>
                <span class="badge badge-secondary">{{ user.username }}</span>
            </h2>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="btn btn-dark" style="background-color: #00802b"
                    href="{% url 'about' %}">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-dark" style="background-color: #00802b" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-dark" style="background-color: #00802b" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-dark" style="background-color: #00802b"
                    href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="alert">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</div>

<div class="container" id="container">
    <img src="{% static 'img/1stship_3.png' %}" alt="ship" id="ship" class="ship"/>
    {% block content %}
    <p>Default</p>
    {% endblock %}
</div>


</body>
</html>
