{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Edit ship{% endblock %}

{% block content %}
    <div class="row">

        <div class="col">
            <h3>Available resources</h3>
            <div class="row mh1">
                <div class="col-1"><img src="{% static 'img/coin.png' %}" alt="Money" title="Money"/></div>
                <div class="col-4"> Money</div>
                <div class="col-3" id="player_money"> {{ player.money }}</div>
            </div>
            <div class="row mh1">
                <div class="col-1"><img src="{% static 'img/sword_little.png' %}" alt="Crew" title="Crew" height="30"/>
                </div>
                <div class="col-4"> Crew</div>
                <div class="col-3" id="player_crew"> {{ player.crew }}</div>
            </div>
            <div class="row mh1">
                <div class="col-1"><img src="{% static 'img/wood.png' %}" alt="Wood" title="Wood"/></div>
                <div class="col-4"> Wood</div>
                <div class="col-3" id="player_wood"> {{ player.wood }}</div>
            </div>
            <div class="row mh1">
                <div class="col-1"><img src="{% static 'img/iron.png' %}" alt="Iron" title="Iron"/></div>
                <div class="col-4"> Iron</div>
                <div class="col-3" id="player_iron"> {{ player.iron }}</div>
            </div>
            <div class="row mh1">
                <div class="col-1"><img src="{% static 'img/cannon.png' %}" alt="Cannons" title="Cannons" height="30"/>
                </div>
                <div class="col-4"> Cannons</div>
                <div class="col-3" id="player_cannons"> {{ player.cannons }}</div>
            </div>
        </div>
        <div class="col">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Apply</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <script src="{% static 'js/edit_ship.js' %}"></script>
{% endblock %}
