{% extends 'base.html' %}
{% load static %}

{% block title %}PirateWar{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="row mh1">
            <h2>Resources</h2>
        </div>
        <div class="row mh1" data-toggle="tooltip" data-placement="left" title="Recruit crew">
            <div class="col-1">
                <img src="{% static 'img/coin.png' %}"/>
            </div>
            <div class="col-4"> Money</div>
            <div class="col-3"> {{ player.money }}</div>
        </div>
        <div class="row mh1" data-toggle="tooltip" data-placement="left" title="Add crew to your ships">
            <div class="col-1">
                <img src="{% static 'img/sword_little.png' %}" height="30"/>
            </div>
            <div class="col-4"> Crew</div>
            <div class="col-3"> {{ player.crew }}</div>
        </div>
        <div class="row mh1" data-toggle="tooltip" data-placement="left" title="Buy, repair and upgrade ships">
            <div class="col-1">
                <img src="{% static 'img/wood.png' %}"/>
            </div>
            <div class="col-4"> Wood</div>
            <div class="col-3"> {{ player.wood }}</div>
        </div>
        <div class="row mh1" data-toggle="tooltip" data-placement="left" title="Build new cannons">
            <div class="col-1">
                <img src="{% static 'img/iron.png' %}"/>
            </div>
            <div class="col-4"> Iron</div>
            <div class="col-3"> {{ player.iron }}</div>
        </div>
        <div class="row mh1" data-toggle="tooltip" data-placement="left" title="Add cannons to your ships">
            <div class="col-1">
                <img src="{% static 'img/cannon.png' %}" height="30"/>
            </div>
            <div class="col-4"> Cannons</div>
            <div class="col-3"> {{ player.cannons }}</div>
        </div>

        <div class="row">
            <h2>Actions</h2>
        </div>
        <div class="row">
            <form class="form-group" method="post" action="{% url 'create-ship' %}">
                {% csrf_token %}
                <label for="btn-buy-ship">Buy a new ship (10 wood)</label>
                <div class="input-group">
                    <input required type="text" class="form-control" placeholder="Ship name"
                    aria-label="Input group example" aria-describedby="btnGroupAddon" id="shipname"
                    name="shipname">
                    <div class="input-group-append">
                        <input id='btn-buy-ship' type="submit" class="btn btn-primary"
                        data-toggle="tooltip" data-placement="right" title="Cost : 10 wood"
                        value="Buy ship">
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="form-group" method="post" action="{% url 'build-cannon' %}">
                {% csrf_token %}
                <input id='btn-buy-cannon' type="submit" class="btn btn-primary"
                data-toggle="tooltip" data-placement="right" title="Cost : 10 iron"
                value="Build a new cannon">
            </form>
        </div>

        <div class="row">
            <form class="form-group" method="post" action="{% url 'recruit' %}">
                {% csrf_token %}
                <input id='btn-buy-cannon' type="submit" class="btn btn-primary"
                data-toggle="tooltip" data-placement="right" title="Cost : 10 gold"
                value="Recruit a new crewman">
            </form>
        </div>

    </div>
    <div class="col">
        <h2>Ships</h2>
        {% for ship in ships %}
        <div class="row mh1">
            <div class="col-2"><img src="{% static 'img/1stship_3.png' %}" alt="Ship" title="Ship" height="30"/>
            </div>
            <div class="col-6">{{ ship.name }}</div>
            <div class="col-1">
                <a href="{% url 'edit-ship' ship.pk %}"
                data-toggle="tooltip" data-placement="bottom"
                title="Add crew and cannons to your ship!">
                <img src="{% static 'img/hammer.png' %}" height="25"/></a>
            </div>
            <div class="col-1">
                <a href="{% url 'delete-ship' ship.pk %}"
                data-toggle="tooltip" data-placement="bottom"
                title="Delete this ship">
                <img src="{% static 'img/delete.png' %}"
                height="25"/></a>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="col">
        <h2>Activities</h2>
        {% for ship in ships_activity %}
        <form method="post" action="{% url 'result' %}">
            {% csrf_token %}
            <div class="row mh1">
                <div class="col-2"><img src="{% static 'img/1stship_3.png' %}" alt="Ship" title="Ship"
                    height="30"/>
                </div>
                <div class="col-6">{{ ship.name }}</div>
                <div class="col-2 time"></div>

                <input id="shippk" name="shippk" type="hidden" value="{{ ship.pk }}">
                <div class="col-2"><input type="submit" class="btn btn-dark btn-sm result" style="display: none; background-color: #00802b" value="Result"></div>
                <p hidden class="timestamp">{{ ship.endActivity.timestamp }}</p>
            </div>
        </form>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <a class="btn btn-dark" style="background-color: #00802b" href="{% url 'select-activity' %}" data-toggle="tooltip" data-placement="bottom" title="Send a ship to a new quest!">Select activity</a>
            </div>
        </div>
    </div>
    <div class="col">
        <h2>Joueurs</h2>
        {% for u in users %}
        {% if u.username != user.username %}
        <div class="row">
            <div class="col-12">
                <a class="btn btn-dark" style="background-color: #00802b" href="{% url 'fight' %}" data-toggle="tooltip" data-placement="bottom" title="Send a ship to a new fight!">
                {{ u.username }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>

<script src="{% static 'js/play.js' %}"></script>

{% endblock %}
