{% extends 'base.html' %}
{% load static %}

{% block title %}PirateWar{% endblock %}

{% block content %}


    <div class="container">
        <h1>{{ player.user.username }}</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Resources</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row"><img src="{% static 'img/coin.png' %}" alt="Money" title="Money"/></th>
                        <td>Money</td>
                        <td>{{ player.money }}</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="{% static 'img/sword_little.png' %}" alt="Crew" title="Crew"
                                             height="30"/>
                        </th>
                        <td>Crew</td>
                        <td>{{ player.crew }}</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="{% static 'img/wood.png' %}" alt="Wood" title="Wood"/></th>
                        <td>Wood</td>
                        <td>{{ player.wood }}</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="{% static 'img/iron.png' %}" alt="Iron" title="Iron"/></th>
                        <td>Iron</td>
                        <td>{{ player.iron }}</td>
                    </tr>
                    </tbody>
                </table>
                <h2>Actions</h2>
                <form method="post" action="{% url 'create-ship' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ship name"
                               aria-label="Input group example" aria-describedby="btnGroupAddon" id="shipname"
                               name="shipname">
                        <div class="input-group-prepend">
                            <input type="submit" class="btn btn-primary" value="Buy ship">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h2>Ships ({{ nbships }})</h2>
                <table class="table">
                    <tbody>
                    {% for ship in ships %}
                        <tr>
                            <th scope="row">{{ ship.name }}</th>
                            <td><a href="{% url 'edit-ship' ship.pk %}">edit</a></td>
                            <td><a href="{% url 'delete-ship' ship.pk %}">delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2>Quests</h2>
                <a></a>
            </div>
        </div>
    </div>

{% endblock %}