{% extends 'base.html' %}
{% load static %}

{% block title %}Quests avaible{% endblock %}

{% block content %}
<div class="col">
    <h2>Ships ({{ nbships }})</h2>
    {% for ship in ships %}
    <form method="post" action="{% url 'add-activity' %}">
        {% csrf_token %}
        <div class="row mh1">
            <div class="col-2"><img src="{% static 'img/1stship_3.png' %}" alt="Ship" title="Ship" height="30"/>
            </div>
            <div class="col-4">{{ ship.name }}</div>
            <input id="activitypk" name="activitypk" type="hidden" value="{{ pkactivity }}">
            <input id="shippk" name="shippk" type="hidden" value="{{ ship.pk }}">
            <div class="col-2"><input type="submit" class="btn btn-dark btn-sm"
                                      style="background-color: #00802b" value="Select"></div>
        </div>
    </form>
    {% endfor %}
    <div class="col">
        <a class="btn btn-dark" style="background-color: #00802b" href="{% url 'home' %}">Cancel</a>
    </div>
</div>

{% endblock %}